            body{
                margin:0;
                font-family:Arial, sans-serif;
                background: #f4f4f4;
                color: #222;
            }

            
            .navbar {
                background: #000;
                padding: 12px 20px;;
                position: sticky;
                top: 0;
                z-index: 100;
                display: flex;
                justify-content: space-between;
                align-items:center;
            }
            .navbar .logo img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .nav-links {
                list-style: none;
                display: flex;
                gap:20px;
                margin: 0;
                padding: 0;
            }

            .nav-links li {
                margin: 0 15px;
            }

            .nav-links a {
                color: white;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                transition: 0.3s;
            }
            .nav-links a:hover{
                background: rgb(82, 82, 230);
                border-radius: 5px;
            }
            .nav-links a.active{
                background: rgb(82, 82, 230);
                border-radius: 6px;
            }

             .hero{
                height: 90vh;
                background: url('https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg') center/cover no-repeat;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                text-shadow: 3px 3px 8px black;
                animation: fadeIn 1.5s ease-in-out;
            }

            .hero h1{
                font-size: 60px;
                margin: 0;
            }

            .hero p{
                font-size: 22px; 
            }

            .hero button {
                margin-top: 20px;
                padding: 15px 30px;
                font-size: 18px;
                background:rgb(82, 82, 230);
                color: white;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.3s;
            }

            .hero button:hover {
                background: rgb(82, 82, 230);
                transform: scale(1.05);
            }

            .section {
                padding: 50px;
                text-align: center;
            }

            .section h2 {
                font-size: 32px;
                color: rgb(82, 82, 230);
                margin-bottom: 20px;
            }
            
            .players {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 30px;
                padding: 20px; 
            }

            .player-card {
                background: white;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 5px 10px rgba (0,0,0,0.1);
                transition:transform 0.3s, box-shadow 0.3s;;
            }
            .player-card:hover {
                transform: translateY(-10px);
            }
            .player-card img{
                width: 100%;
                border-radius: 10px;
            }
            .player-card h3{
                margin: 10px 0 0;
            }
            @keyframes fadeIn {
                from {opacity: 0;}
                to { opacity: 1;}
            }
            .highlights{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 30px;
                padding: 20px;
            }
            .highlight-card{
                background: white;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 4px 10px rgba(0,0,0,0.1);
                transition: 0.3s;
                animation: fadeIn 1s ease;
            }
            .highlight-card:hover{
                transform: translateY(-10px);
                box-shadow: 0 6px 18px rgba(0,0,0,0.15);
            }
            .highlight-card img{
                width: 100%;
                border-radius: 10px;
                height: 180px;object-fit: cover;
                margin-bottom: 10px;
            }
            .highlight-card h3{
                margin: 10px 0 5px;
                color: rgb(82, 82, 230);
            }
            .highlight-card p{
                font-size: 16px;
                color: #555;
                line-height: 1.5;
            }
            .highlight-card .read-more {
                display: inline-block;
                margin-top :10px;
                text-decoration: none;
                color: white;
                background: rgb(82, 82, 230);
                padding: 8px 15px;
                border-radius: 6px;
                transition: 0.3s;
            }
            .highlight-card .read-more:hover{
                background: rgb(82, 82, 230);
                transform: scale(1.5);
            }
      