            body {
                margin: 0;
                font-family: Arial, sans-serif;
                background: #f4f4f4;
            }
            .navbar{
                background: black;
                padding: 12px 20px;
                position: sticky;
                top: 0;
                z-index: 100;
                justify-content: space-between;
                align-items: center;
                display: flex;
            }
            .navbar .logo img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit:cover;
            }
            .nav-links{
                display:flex;
                gap:20px;
            }
            .nav-links li{
                margin: 0;
            }
            .nav-links a{
                color: white;
                text-decoration: none;
                padding: 10px 15px;
                font-size:18px;
                transition: 0.3s;
            }
            .nav-links a:hover {
                background: rgb(82, 82, 230);
                border-radius: 5px;
            }
            .nav-links a.active{
                background: rgb(82, 82, 230);
                border-radius: 6px;
            }
            h1{
                text-align: center;
                margin-top: 30px;
                color: rgb(82, 82, 230);
            }
            .players{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                gap: 30px;
                padding: 40px;
            }
            .player-card{
                background: white;
                padding: 20px;
                border-radius: 12px;
                box-shadow: 0 4px 10px rgba(0,0,0,0.1);
                text-align: center;
                transition: 0.3s;
                animation: fadeUp 0.8s ease-in-out;
            }
            .player-card:hover{
                transform: translateY(-10px);
            }
            .player-card img{
                width: 100%;
                height: 230px;
                object-fit: contain;
                border-radius: 10px;
                background: #fff;
            }
            .player-card h3{
                margin: 15px 0 5px;
            }
            .player-card p{
                margin: 5px 0;
                color: #555;
            }
            @keyframes fadeUp{
                from {opacity: 0; transform: translateY(20px);}
                to {opacity: 1; transform: translateY(0);}
            } 